### Sustainable NewJersey transform

In [1]:
import pandas as pd

In [2]:
sustain = pd.read_csv('Data/sustainable.csv')
sustain = sustain.iloc[:,1:]

In [3]:
sustain['town'] = sustain['town'].str.lower()
sustain['county'] = sustain['county'].str.lower()

In [4]:
num_badge = []
for b in sustain['badge']:
    if b == 'none' : 
        num_badge.append(1)
    elif b == 'bronze':
        num_badge.append(2)
    elif b == 'silver':
        num_badge.append(3)
    else:
        num_badge.append(99)

In [5]:
sustain['num_badge'] = num_badge

In [6]:
sustain.describe()
sustain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438 entries, 0 to 437
Data columns (total 4 columns):
town         438 non-null object
county       438 non-null object
badge        438 non-null object
num_badge    438 non-null int64
dtypes: int64(1), object(3)
memory usage: 13.8+ KB

In [7]:

muni_names = pd.read_pickle('muni_names.pkl')
muni_names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 565 entries, 0 to 564
Data columns (total 3 columns):
FIPS      565 non-null object
town      565 non-null object
county    565 non-null object
dtypes: object(3)
memory usage: 13.3+ KB

In [8]:
result = pd.merge(muni_names, sustain, how='left', on=['town', 'county'])

In [9]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 565 entries, 0 to 564
Data columns (total 5 columns):
FIPS         565 non-null object
town         565 non-null object
county       565 non-null object
badge        438 non-null object
num_badge    438 non-null float64
dtypes: float64(1), object(4)
memory usage: 26.5+ KB

In [10]:
result[result['num_badge'].isnull()]

           FIPS                  town      county badge  num_badge
1    3400563510         riverside twp  burlington   NaN        NaN
5    3402522950      farmingdale boro    monmouth   NaN        NaN
6    3402549920     neptune city boro    monmouth   NaN        NaN
7    3402574900    upper freehold twp    monmouth   NaN        NaN
18   3400347700        moonachie boro      bergen   NaN        NaN
24   3402567365        shrewsbury twp    monmouth   NaN        NaN
30   3402706610          boonton town      morris   NaN        NaN
34   3402966450  seaside heights boro       ocean   NaN        NaN
37   3400364170        rockleigh boro      bergen   NaN        NaN
42   3402937380             lacey twp       ocean   NaN        NaN
55   3400346110     midland park boro      bergen   NaN        NaN
58   3403375110  upper pittsgrove twp       salem   NaN        NaN
61   3400382570       wood-ridge boro      bergen   NaN        NaN
79   3400115160           corbin city    atlantic   NaN        NaN
82   3401139450          lawrence twp  cumberland   NaN        NaN
88   3403361470           quinton twp       salem   NaN        NaN
91   3402938550          lakewood twp       ocean   NaN        NaN
93   3402971640        surf city boro       ocean   NaN        NaN
99   3401569030    south harrison twp  gloucester   NaN        NaN
101  3400543290         mansfield twp  burlington   NaN        NaN
103  3401543440            mantua twp  gloucester   NaN        NaN
104  3400566810           shamong twp  burlington   NaN        NaN
105  3401541160             logan twp  gloucester   NaN        NaN
108  3401528185         greenwich twp  gloucester   NaN        NaN
116  3400582420          woodland twp  burlington   NaN        NaN
119  3400523250       fieldsboro boro  burlington   NaN        NaN
123  3402937770        lakehurst boro       ocean   NaN        NaN
124  3400512940       cinnaminson twp  burlington   NaN        NaN
127  3400569990       springfield twp  burlington   NaN        NaN
129  3402502440  avon-by-the-sea boro    monmouth   NaN        NaN
..          ...                   ...         ...   ...        ...
479  3404158350     phillipsburg town      warren   NaN        NaN
481  3404128260         greenwich twp      warren   NaN        NaN
488  3401774630            union city      hudson   NaN        NaN
491  3401321840      essex fells boro       essex   NaN        NaN
492  3400322560         fairview boro      bergen   NaN        NaN
500  3400355770   palisades park boro      bergen   NaN        NaN
501  3400376490       wallington boro      bergen   NaN        NaN
505  3403727420             green twp      sussex   NaN        NaN
506  3400301090           alpine boro      bergen   NaN        NaN
508  3400368970  south hackensack twp      bergen   NaN        NaN
513  3403140620      little falls twp     passaic   NaN        NaN
515  3400341100             lodi boro      bergen   NaN        NaN
516  3403161170    prospect park boro     passaic   NaN        NaN
517  3403707300      branchville boro      sussex   NaN        NaN
519  3403182423    woodland park boro     passaic   NaN        NaN
521  3403737440         lafayette twp      sussex   NaN        NaN
526  3400363990     rochelle park twp      bergen   NaN        NaN
527  3404133930      independence twp      warren   NaN        NaN
536  3400332310        ho-ho-kus boro      bergen   NaN        NaN
541  3403176730          wanaque boro     passaic   NaN        NaN
543  3403724810         frankford twp      sussex   NaN        NaN
544  3403724930         franklin boro      sussex   NaN        NaN
545  3403729220          hamburg boro      sussex   NaN        NaN
546  3403765700         sandyston twp      sussex   NaN        NaN
549  3403729490           hampton twp      sussex   NaN        NaN
552  3402729700           harding twp      morris   NaN        NaN
554  3402775890  victory gardens boro      morris   NaN        NaN
556  3402746860         mine hill twp      morris   NaN        NaN
557  3402764050         rockaway boro      morris   NaN        NaN
558  3400100100          absecon city    atlantic   NaN        NaN

[127 rows x 5 columns]

In [11]:
result.groupby('county').count()

            FIPS  town  badge  num_badge
county
atlantic      23    23     20         20
bergen        70    70     54         54
burlington    40    40     26         26
camden        37    37     37         37
cape may      16    16     13         13
cumberland    14    14      8          8
essex         22    22     20         20
gloucester    24    24     18         18
hudson        12    12     10         10
hunterdon     26    26     24         24
mercer        12    12     12         12
middlesex     25    25     23         23
monmouth      53    53     41         41
morris        39    39     27         27
ocean         33    33     22         22
passaic       16    16     12         12
salem         15    15      8          8
somerset      21    21     19         19
sussex        24    24     13         13
union         21    21     17         17
warren        22    22     14         14

In [12]:
sustain.groupby('county').count()

            town  badge  num_badge
county
atlantic      20     20         20
bergen        54     54         54
burlington    26     26         26
camden        37     37         37
cape may      13     13         13
cumberland     8      8          8
essex         20     20         20
gloucester    18     18         18
hudson        10     10         10
hunterdon     24     24         24
mercer        12     12         12
middlesex     23     23         23
monmouth      41     41         41
morris        27     27         27
ocean         22     22         22
passaic       12     12         12
salem          8      8          8
somerset      19     19         19
sussex        13     13         13
union         17     17         17
warren        14     14         14

In [13]:
sustain[sustain['county']=='union']

                     town county   badge  num_badge
23   berkeley heights twp  union  silver          3
78           cranford twp  union  bronze          2
104        elizabeth city  union  bronze          2
119          fanwood boro  union  bronze          2
137          garwood boro  union    none          1
191       kenilworth boro  union    none          1
206           linden city  union    none          1
268     mountainside boro  union    none          1
275   new providence boro  union  bronze          2
321       plainfield city  union    none          1
330           rahway city  union  silver          3
348          roselle boro  union    none          1
349     roselle park boro  union    none          1
372       springfield twp  union  bronze          2
379           summit city  union  silver          3
391             union twp  union  bronze          2
424        westfield town  union    none          1

In [19]:
result['num_badge'] = result['num_badge'].fillna(0)

In [20]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 565 entries, 0 to 564
Data columns (total 5 columns):
FIPS         565 non-null object
town         565 non-null object
county       565 non-null object
badge        438 non-null object
num_badge    565 non-null float64
dtypes: float64(1), object(4)
memory usage: 26.5+ KB

In [36]:
df = pd.concat([result['FIPS'],result['num_badge']], axis=1)

In [37]:
!ls *.pkl

acs_s.pkl    AgeSexRace.pkl  housing.pkl  muni_names.pkl  sustain.pkl
acs_tax.pkl  econ.pkl	     misc.pkl	  muni.pkl	  taxes.pkl

In [38]:
df.to_pickle('sustain.pkl')